<div *ngIf="errCheck == true"> 
	<h6 class="errorText">You must have First name!!</h6>
</div>

First name:
<input 
	(keyup)="inputFirstName($event)" 
	(keyup.enter)="saveData()"
/>
<br/>

Last name: 
<input 
  #lastname 
  (keyup)="inputLastname(lastname.value)"
  (keyup.enter)="saveData()" 
/>
<br/>
<br/>

<button (click)="saveData()">Save data</button>
<br/>
<br/>

Result = {{ firstName }} {{ lastName }}
<br/>
<br/>

Count = {{ countStrikeThrough }} /{{ users.length }}
<br/>
<br/>

<div *ngFor="let user of users;" class="borderofUser">
	<h5
		style="cursor: pointer;"
		[ngClass]="{'strikethrough': user.strikeThrough}"
		(click)="checkStrikeThrough(user)">
			{{ user.name }}
	</h5>
</div>
